<h1 class="display-4">Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <% orders.forEach(function(order){ %>
            <tr>
                <td><%= order.id %></td>
                <td><%= order.quantity %></td>
                <td><%= order.price %></td>
                <td>
                    <a href="/orders/edit/<%= order.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/orders/delete/<%= order.id %>" method="post">
                        <input type="submit" value="delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <%}) %>
    </tbody>
</table>